<h1 class="center-block">Edit Wiki</h1>
<div class="container center-block">
    <%= form_for @wiki do |f| %>
        <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
        <div class="form-group">
            <%= f.label :body %>
            <%= f.text_area :body %>
        </div>
        <% if current_user.admin? || @wiki.user == current_user && current_user.premium? %>
            <div class="form-group">
                <%= f.label :private, class: 'checkbox' do %>
                    <%= f.check_box :private %> Private wiki
                <% end %>
                <%= f.label :collaborator %>
                <%= f.text_field :collaborators %>
            </div>
        <% end %>
        <%= f.submit "Save" %>
    <% end %>
</div>  
