<!DOCTYPE html>
<html>
<head>
    <title>Blocipedia</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Montserrat', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
    <div class="container">
        <ul class="nav nav-tabs nav-justified">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Public Wikis", wikis_path %></li>
            <% if user_signed_in? %>
                <li><%= link_to "New Wiki", new_wiki_path %></li>
                <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
                <li><%= link_to "Sign In", new_user_session_path %></li>
            <% end %>
        </ul>
        <% if user_signed_in? %>
            <div class="label-info center-block">Signed in as: <strong><%= current_user.email %></strong> - <%= current_user.role.capitalize %> User</div>
        <% end %>    
    </div>
    
<%= yield %>

</body>
</html>
